<div class="home__about mt-5 mb-5">
    <div class="container">
        <div class="home__about-heading">
            <div class="home__about-heading-list text-center">
                <div class="home__about-heading--icon"> 
                <i class="fas fa-truck"></i>
                </div>
                <div class="home__about-heading-wrap">

                    <h4 class="home__about-heading-start ">
                        Miễn phí giao hàng
                    </h4>
                    <h5 class="home__about-heading-finish ">
                        Chất lượng nhất
                    </h5>
                </div>
            </div>
            <div class="home__about-heading-list text-center">
                <div class="home__about-heading--icon"> 
                <i class="fas fa-box-open"></i>
                 </div>
                <div class="home__about-heading-wrap ">

                    <h4 class="home__about-heading-start">
                        Ưu đãi hấp dẫn
                    </h4>
                    <h5 class="home__about-heading-finish">
                        Quyền lợi với KH
                    </h5>
                </div>
            </div>
            <div class="home__about-heading-list text-center">
                <div class="home__about-heading--icon"> 
                <i class="fas fa-phone-volume"></i>
                </div>
                <div class="home__about-heading-wrap ">

                    <h4 class="home__about-heading-start">
                        Đội ngũ tư vấn
                    </h4>
                    <h5 class="home__about-heading-finish">

                        Chi tiết và tận tình
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
        <footer class="footer mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Trung tâm cứu trợ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">FirstFashion shop</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer__heading">Danh mục</h3>

                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Sản phẩm mới</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Bộ sưu tập</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Sản phẩm sale</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="fab fa-facebook"></i>
                                    Facebook</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="fab fa-instagram-square"></i>
                                    Instagram</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="fab fa-linkedin"></i>
                                    Linkedln</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="footer__bottom">
                <div class="grid wide">
                    <p class="footer__text">© 2021-Bản quyền thuộc về FirstFashion</p>
                </div>
            </div>

        </footer>

<script>
    
</script>