<div class="container mt-4">
    {{#each getColections}}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../{{this.imageColection}}" class="card-img"  width="100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.nameColection}}</h5>
        <p class="card-text">{{this.descriptionColection}}</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div><br>

{{/each}}


</div>