<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <div class="content mt-2">
                <span>FirstFashion là địa chỉ chuyên cung cấp các sản phẩm dành cho phái đẹp.
                    Với các sản phẩm được thiết kế hàng đầu, hệ thống showroom có mặt ở nhiều nơi, đội ngũ nhân viên tận
                    tình,
                    FirstFashion mang đến cho khách hàng những sản phẩm và dịch vụ chuyên nghiệp nhất
                </span>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.744807146852!2d105.84339821488294!3d21.002864236012343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad389c0a12df%3A0x24aa1e437c63f4e3!2zQXB0ZWNoIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1615565140049!5m2!1svi!2s" 
                    width="700" height="800" frameborder="0" style="border:0;" allowfullscreen="true " class="mt-2"
                    aria-hidden="false" tabindex="0" class="mr-5">
                </iframe>
            </div>
        </div>
        <div class="col-4">
            <div class="address-shop">
                <h3 style="border-bottom:1px solid" class="mb-4"><i class="fas fa-map-marker-alt mr-2"></i>Hệ thống các của hàng </h3>
               <h4>FirstFashion</h4>
               <span class="d-flex mt-2"><i class="fas fa-map-marker-alt mr-2"></i>Lê Thanh Nghị</span>
               <span class="d-flex"><i class="fas fa-phone-volume mr-2"></i>0123456789</span>
               <span><a href="https://goo.gl/maps/UTPCfiFKp5tVFjMcA"><i class="fas fa-directions mr-2"></i>Chỉ đường</a></span>             
            </div>
        </div>
    </div>
</div>
</div>